/* Insight.css */

@keyframes revealItem {
    0% {
        opacity: 0.1;
        transform: scale(0.5);
        /* Start smaller */
    }

    100% {
        opacity: var(--to-opacity);
        transform: scale(1);
    }
}

.reveal-dot {
    opacity: 0.1;
    /* Initial State: No Shine */
    will-change: opacity, transform;
    animation: revealItem 0.6s ease-out forwards;
}

.Insight_Container::-webkit-scrollbar {
    width: 2px;
    background-color: transparent;
    height: 0px;
}

.Insight_Container::-webkit-scrollbar-track {
    background-color: transparent;
    margin: 100px 0;
}

.Insight_Container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px var(--Ec-3);
    background-color: var(--Bc-4);
}

.Insight_Container>* {
    flex-shrink: 0;
}

/* Utility to hide scrollbar but keep functionality */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}