:root {
  --Ac-1: rgba(255, 245, 240, 1);
  --Ac-2: rgba(255, 245, 240, 0.6);
  --Ac-3: rgba(255, 245, 240, 0.35);
  --Ac-4: rgba(255, 245, 240, 0.05);

  --Bc-1: rgba(212, 157, 129, 1);
  --Bc-2: rgba(212, 157, 129, 0.6);
  --Bc-3: rgba(212, 157, 129, 0.3);
  --Bc-4: rgba(212, 157, 129, 0.1);

  --Cc-1: rgba(160, 143, 255, 1);
  --Cc-2: rgba(160, 143, 255, 0.6);
  --Cc-3: rgba(160, 143, 255, 0.3);
  --Cc-4: rgba(160, 143, 255, 0.1);

  --Dc-1: rgba(168, 229, 255, 1);
  --Dc-2: rgba(168, 229, 255, 0.6);
  --Dc-3: rgba(168, 229, 255, 0.3);
  --Dc-4: rgba(168, 229, 255, 0.1);

  --Ec-1: rgb(24, 25, 30);
  --Ec-2: rgba(24, 25, 30, 0.6);
  --Ec-3: rgba(24, 25, 30, 0.3);
  --Ec-4: rgba(24, 25, 30, 0);

  --Fc-1: rgba(131, 255, 201, 1);
  --Fc-2: rgba(131, 255, 201, 0.7);
  --Fc-3: rgba(131, 255, 201, 0.3);
  --Fc-4: rgba(131, 255, 201, 0.02);

  --Gc-1: rgba(255, 102, 102, 1);
  --Gc-2: rgba(255, 102, 102, 0.7);
  --Gc-3: rgba(255, 102, 102, 0.3);
  --Gc-4: rgba(255, 102, 102, 0.02);
}

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

body {
  overflow: hidden;
  color: #011436;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
  margin: 0;
  background-color: var(--Ec-1);
  font-family: "Noto Sans", sans-serif;
}
#root {
  --safe-area-inset-bottom: env(safe-area-inset-bottom);
}
#root {
  overflow: hidden;
}
.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  padding: 10px;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

.MainBackground {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -100;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    -webkit-animation: App-logo-spin infinite 20s linear;
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@-webkit-keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App {
  position: fixed;
  top: 0;
  left: 0;
}
